.footer {
  min-height: 569px;
  background-color: #464C55;
}

.footer__container-hight {
  margin-bottom: 93px;
  padding-top: 50px;
  
  display: flex;
  justify-content: space-between;
  
}

  .footer__container-menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0 43px;
  }

    .footer__list-menu {
      display: flex;
      flex-direction: column;
      gap: 10px 0;
    }

      .footer__item {
        max-width: 115px;

        font-family: Nunito;
        font-size: 16px;
        line-height: 22px;

        color: #C7C9CC;

      }

      .footer__item-tittle {
        margin-bottom: 10px;

        font-family: Nunito;
        font-weight: 600;
        font-size: 18px;

        line-height: 26px;

        color: #FFFFFF;
      }

      .footer__link {
        cursor: pointer;
        color: #C7C9CC;
      }

      .footer__link:hover {
        color: white;
      }
  
  .footer__hr-hight {
    display: none;
  }

  .footer__container-address {
    display: flex;
    flex-direction: column;
  }

    .footer__container-link {
      margin-bottom: 29px;
      
      display: flex;
      flex-direction: row;
    }

      .footer__link-right {
        width: 135px;
        height: 40px;

        display: block;
        
        background-repeat: no-repeat;
      }
        .footer__google-play {
          background-image: url( ../img/contacts/google-play.png);
        }

        .footer__app-store {
          background-image: url( ../img/contacts/apple-store.png);
        }

    .footer__container-connection {
      display: flex;
      flex-direction: column;
    }

      .footer__link-email,
      .footer__text,
      .footer__link-tel {
        text-align: right;
      }

      .footer__link-tel {
        margin-bottom: 6px;

        font-family: Nunito;
        font-weight: 600;
        font-size: 26px;
        line-height: 26px;

        color: #FFFFFF;
      }

      .footer__text {
        margin-bottom: 26px;

        font-family: Nunito;
        font-size: 15px;
        line-height: 20px;

        color: #FFFFFF;

        opacity: 0,5;
      }

      .footer__link-email {
        font-family: Nunito;
        font-size: 15px;
        line-height: 20px;
        text-align: right;

        color: #FFFFFF;

        opacity: 0.9;
      }



.footer__container-middle {
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
}

  .footer__container-money {
    margin-right: 150px;
    max-width: 269px;

    display: flex;
    flex-direction: column;
  }

    .footer__proceeds,
    .footer__pizza-number {
      margin-bottom: 12px;

      font-family: Nunito;
      font-weight: 600;
      font-size: 26px;
      line-height: 26px;
      
      color: #FFFFFF;
    }

    .footer__desc {
      font-family: Nunito;
      font-size: 16px;
      line-height: 22px;

      color: #FFFFFF;

      opacity: 0.7;
    }

  .footer__container-pizza {
    max-width: 235px;
  }


.footer__container-hr {
    margin-bottom: 40px;
}
  .footer__hr {
    border: 1px solid #FFFFFF;

    opacity: 0.2;
  }

.footer__container-bottom {
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .footer__container-bottom-logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
  }

    .footer__logo {
      margin-right: 25px;
    }

    .footer__copyright {
      max-width: 28px;

      font-family: Nunito;
      font-size: 16px;

      text-align: center;
      line-height: 22px;
      white-space: nowrap;

      color: #FFFFFF;

      opacity: 0.7;
    }
  
  .footer__container-bottom-legal {
    display: flex;

    align-items: center;
  }

    .footer__list-legal {
      display: flex;
      flex-direction: row;
    }

      .footer__item-legal {
        font-family: Nunito;
        font-size: 16px;
        line-height: 22px;
        
        color: #C7C9CC;
      }

      .footer__link-legal:hover {
        color: #FFFFFF;
      }

      .footer__item-legal_margin:not(:last-child) {
        margin-right: 20px;
      }

    .footer__list-socials {
      display: flex;
      flex-direction: row;
    }
      .footer__item-socials {
        width: 32px;
        height: 32px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(196, 196, 196, 0.2);
        color: rgb(255, 255, 255);

        border-radius: 4px;

        opacity: 0.3;
      }

      .footer__item-socials_margin:not(:last-child) {
        margin-right: 6px;
      }

        .footer__icon-facebook,
        .footer__icon-instagram,
        .footer__icon-classmates,
        .footer__icon-vk,
        .footer__icon-youtube {
          width: 19px;
          height: 19px;

          display: block;
          color: rgb(255, 255, 255);
        }

        .footer__icon-facebook {
          background-image: url( ../img/icons/facebook.svg);
          background-repeat: no-repeat;
        }
        
        .footer__icon-instagram {
          background-image: url( ../img/icons/instagram.svg);
          background-repeat: no-repeat;
        }

        .footer__icon-classmates {
          background-image: url( ../img/icons/classmates.svg);
          background-repeat: no-repeat;
        }

        .footer__icon-vk {
          background-image: url( ../img/icons/vk.svg);
          background-repeat: no-repeat;
        }

        .footer__icon-youtube {
          background-image: url( ../img/icons/youtube.svg);
          background-repeat: no-repeat;
        }