.slider {
  margin-bottom: 38px;
}

.new,
.pizza,
.combo,
.snacks,
.desserts,
.drinkables {
  margin-bottom: 70px;
}

.main__tittle2 {
  margin-bottom: 40px;

  display: block;

  font-family: Nunito;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.new__list {
  display: flex;
  flex-direction: row;
}

.new__list_margin:not(:last-child) {
  margin-right: 20px;
}
  .new__item {
    min-width: 250px;
    min-height: 104px;

    display: flex;

    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
    border-radius: 10px;

    text-decoration: none;
  }
    .new__img {
      margin-right: 22px;
      padding-top: 14px;
      padding-left: 18px;
      width: 76px;
      height: 76px;

      text-align: center;
    }

    .new__item-container {
      padding-top: 29px;

      display: flex;
      flex-direction: column;
    }

      .new__item-caption {
        margin-bottom: 4px;

        font-family: Nunito;
        font-size: 14px;
        line-height: 19px;
        color: #000000;
      }

      .new__price {
        font-family: Nunito;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }

  .pizza__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    .pizza__item {
      margin-bottom: 60px;
      max-width: 250px;
      height: 370px;
      
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .pizza__item_margin:not(:nth-child(4n)) {
      margin-right: 20px;
    }
      .pizza__img {
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;

        width: 220px;
        height: 220px;
      }

      .main__tittle3 {
        margin-bottom: 10px;

        display: block;

        font-family: Nunito;
        font-weight: 600;
        font-size: 20px;

        line-height: 27px;
        color: #000000;
      }

        .main__desc {
          margin-bottom: auto;
          max-height: 27px;

          font-family: Nunito;
          font-size: 14px;

          line-height: 19px;
          color: #73798C;
        }

          .main__price {
            /* margin-right: 46px; */
            padding-top: 10px;

            font-family: Nunito;
            font-weight: 600;
            font-size: 16px;
            
            line-height: 22px;
          }

          .main__btn {
            min-width: 120px;
            min-height: 40px;
              
            display: block;
            

            font-family: Nunito;
            font-weight: 600;
            font-size: 16px;

            text-align: center;
            line-height: 22px;
            outline: none;

            border: none;
            border-radius: 1000px;
            
            color: #D15700;
            background-color: #FFF0E6;
          }

.combo__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  .combo__item {
    margin-bottom: 60px;

    max-width: 250px;
    min-height: 370px;

    display: flex;
    flex-direction: column;
    
  }

  .combo__item_margin:not(:nth-child(4n)) {
    margin-right: 20px;
  }

    .combo__img {
      margin-bottom: 5px;
      padding-right: 15px;
      padding-left: 15px;

      width: 220px;
      height: 220px;

    }

    .main__item_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

      .combo__price {
        padding-top: 10px;

        font-family: Nunito;
        font-weight: 600;
        font-size: 16px;

        line-height: 22px;

        color: #000000;
      }

      .combo__btn {
        width: 120px;
        height: 40px;

        font-family: Nunito;
        font-weight: 600;
        font-size: 16px;

        line-height: 22px;
        text-align: center;

        border-radius: 1000px;
        border: none;

        background-color: #F96900;
        color: #FFFFFF;
      }

.snacks__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

    .snacks__item {
      margin-bottom: 60px;
      width: 250px;
      min-height: 425px;
      
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .snacks__item:not(:nth-child(4n)) {
      margin-right: 20px;
    }

      .snacks__img {
        margin-bottom: 5px;
        padding-right: 15px;
        padding-left: 15px;

        width: 220px;
        height: 220px;
      }

.desserts__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
