body {
	box-sizing: border-box;

	font-family: 'Nunito', Verdana, Geneva, Tahoma, sans-serif;
}

img {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none
}

a:visited {
    text-decoration: none; 
}

a {
	color: #000000;
}

main ul li a {
	text-decoration: none;
	color: inherit;
}

footer div a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1060px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}



@font-face {
	font-family: 'Nunito';
	src: url(../fonts/nunito/Nunitoitalic.woff) format('woff'),
				url(../fonts/nunito/Nunitoitalic.woff2)	format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/nunito/Nunitoregular.woff) format('woff'),
				url(../fonts/nunito/Nunitoregular.woff2)	format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
/*       Это шрифт подключён */
@font-face {
	font-family: 'Nunito';
	src: url(../fonts/nunito/Nunitosemibold.woff) format('woff'),
				url(../fonts/nunito/Nunitosemibold.woff2)	format('woff2');
	font-display: swap;
	font-weight: 600;
	font-style: normal;
} 

@font-face {
	font-family: 'Nunito';
	src: url(../fonts/nunito/Nunitosemibolditalic.woff) format('woff'),
				url(../fonts/nunito/Nunitosemibolditalic.woff2)	format('woff2'); 
	font-display: swap;
	font-weight: 600;
	font-style: italic;
}





