body {
	box-sizing: border-box;
}

img {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none
}

.container {
	max-width: 1060px;
	margin: 0 auto;
	padding-top: 25px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}




